a:active,a:hover,a:focus, .navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .open > a:focus {color: #4767D9;}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus, .colored, a.colored, .top-box .fa, .all-categories .fa,
.share_project .fa, .btn-main, .btn-info:hover, .btn-info:focus, .btn-info.focus {color: #4767D9;}

.progress-bar-danger, .show-map, .btn-main:hover, .btn-main:focus, .btn-main.focus, .btn-info  {background-color: #4767D9}

.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info, .btn-main {border: 2px solid #4767D9;}

.form-control:focus {
    border-color: #4767D9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(71, 103, 217, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(71, 103, 217, .6);
}

.navbar .border-box-bottom, .images-top-block, .nav .active {border-bottom: 2px solid #4767D9;}
.pledged-box:hover {border: 1px solid #4767D9}